<div class="form-container mat-elevation-z5">
  <h1>Criar novo usuário</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        O nome é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email é obrigatório
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Por favor, insira um email válido.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Senha"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Senha é obrigatória.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirme a senha"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Confirmar a senha é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        As senhas devem ser iguais!
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Inscreva-se!</button>
    </div>
  </form>
</div>
