mat-toolbar {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "bonita", Arial, Helvetica, sans-serif;
  font-size: xx-large;
}


.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

#home {
  display: inline-flex;
  width: fit-content;
  padding: 10px;


}

.icon-color {
  color: rgb(255, 255, 255);
  font-size: 30px;
  width: fit-content;


}

app-menu {
  display: inline-flex;
  width: fit-content;
  margin-left: auto;
}

